html {
    background-color: whitesmoke;
}
h1 {
    color: 
}
p {
    background-color: gold;
    text-indent: 2em;
    font-size: 1.5em;
    color: maroon;
    padding: 70px;
    border: 1px solid gold;
    border-radius: 25px;
}